body{
    background: #808080;
    text-align: center;
}

h1{
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-weight: 800;
}

h2{
    text-align: center;
}

p{
    font-size: 20px;
    width: 900px;
    margin: 0 auto;
}

#hero{
    width: 70%;
    border-radius: 50px;
}

#img{
    max-width: 100px;
}

form{
    text-align: center;
    background: linear-gradient((rgb(22, 93, 238,), rgb(58, 5, 193)));
    background: #008080;
    width: 80%;
    max-width: 500px;
    margin: 70px 100px;
    color: azure;
    padding: 20px ;
    border: 2px solid #ffffff;
    border-radius: 50px;
}

form label{
    width: 100%;
    display: block;
    font-size: 22px;
    font-weight: 700;

}

form input, form textarea, form select{
    font-size: 15px;
    padding: 10px 20px;
    width: 70%;
    border: 1px solid #fff;
}

form button{
    background: #000000;
    color: #fff;
    padding: 10px 50px;
    font-size: 22px;
    width: 40%;
    cursor: pointer;
    border: 2px solid #000000;
    transition: .5s;

}

form button:hover{
    background: transparent;
    border: 2px solid #fff;
}